audioread==2.1.6
bandmat==0.7
certifi==2019.11.28
configparser==3.7.3
Cython==0.29.15
decorator==4.4.0
enum34==1.1.6
fastdtw==0.3.4
funcsigs==1.0.2
joblib==0.13.2
librosa==0.6.3
llvmlite==0.28.0
nnmnkwii==0.0.20
numba==0.43.0
numpy==1.16.2
Pillow==5.4.1
pysptk==0.1.18
resampy==0.2.1
scikit-learn==0.20.4
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
torch==1.4.0+cu92
torchvision==0.5.0+cu92
tqdm==4.43.0
